@font-face {
        font-family: 'SMREG';
        src: url('/spacemono.ttf')  format('truetype');
}

@keyframes rotation {
      0% {
        transform: rotate(0deg); }
      100% {
        transform: rotate(360deg); } }
    #loader-wrapper {
      background-color: #1e1e2e;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center; }
    .loader {
      width: 40px;
      height: 40px;
      border: 5px solid #f5c2e7;
      border-bottom-color: transparent;
      border-radius: 50%;
      margin-top:calc(50vh - 20px);
      display: inline-block;
      box-sizing: border-box;
      -webkit-animation: rotation 1s linear infinite;
      animation: rotation 1s linear infinite; }
      
 
  .nav a {
    float: none;
    margin: 10px;
     }
body {
   font-family:'SMREG', Fallback, Sans-Serif;
    background-color: #11111B;
    color: #f5c2e7;
}


.button {
  appearance: none;
  background-color: #1e1e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #a6e3a1;
  cursor: pointer;
  display: inline-block;
  font-family: 'SMREG', Fallback, Sans-Serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  background-color: #181825;
}

.button:focus {
  box-shadow: rgba(166, 227, 161, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button:active {
  background-color: #181825;
  box-shadow: rgba(166, 227, 161, .2) 0 1px 0 inset;
}


input {
    width: 20%;
  padding: 10px 6px;
  margin: 12px 0;
  background-color: #181825;
  color: #a6e3a1;
  border: none;
  border-radius: 6px;
}
